
@{
    ViewBag.Title = "MySearchResult";
}

<h2>MySearchResult</h2>

 latitude=@ViewBag.Latitude ;
 longitude=@ViewBag.Longitude ;
<p>There are @ViewBag.Results.Count match(es)</p>
@{int spacer = 0;}
@foreach (var grecord in ViewBag.Results)
{
    spacer++;

    if (spacer % 2 == 0)
    {   <div></div>
    }


    <span>
        <span>
            <img src="@grecord.icon" />

            @grecord.name
            @if (grecord.rating != null)
            {
                <span>
                    rating @grecord.rating
                </span>
            }
        </span>

    </span>
}